body {
    font-family: Arial, Helvetica, sans-serif;
  }
  p > code{
    color: rgb(255, 94, 120);
    background-color: rgb(223, 223, 223);
    font-size: large;
  }
  .center{
    text-align: center;
    border: 2px solid green;
    padding: 15px;
  }
  .example{
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 20px;
  }
  .code{
    background-color: white;
    font-size: x-large;
    padding: 10px;
    border-left: 4px solid rgb(1, 206, 1);
    font-family: monospace;
  }
  .button{
    display: inline-block; /* Inline nhưng có thể chỉnh kích thước */
    margin-top: 15px; /* Tạo khoảng cách 15px phía trên */
    margin-bottom: 10px; /* Tạo khoảng cách 10px phía dưới */
    padding: 10px 15px; /* Thêm đệm: 10px trên/dưới, 15px trái/phải */
    background-color: rgb(20, 121, 20); /* Màu nền xanh lá đậm */
    color: white; /* Màu chữ trắng */
    text-decoration: none; /* Bỏ gạch chân (nếu là thẻ <a>) */
    border-radius: 5px; /* Bo tròn góc 5px */
    font-weight: bold; /* Chữ in đậm */
  }